/* Accordion */
.accordion {
    min-width: 800px;
    margin: 1rem auto;
}

.accordian-search {
    padding: 0.8rem;
    background-color: #35414f;
    border-bottom: solid 1px #48505b;
    border-top: solid 1px  #48505b;
}

#search {
    font-size: 16px;
    padding: 10px;   
    color: #FFF;
    width: 100%;
    background-color: #48505b;
    border: solid 1px #48505b;
    border-radius: 5px;
}

#search::placeholder{
    color: #2a3642;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    background-color: #35414f;
    border-bottom: solid 1px #48505b;
}

.accordion-title:hover {
    background-color: #48505b;
}

.accordion-title.active {
    background-color: #48505b;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    max-height: 500px;
    overflow-y: scroll;
    background-color: #48505b;
}

.accordion-content.full-height {
    max-height: none;
    height: 100vh;   
}

.operator-tabs {
    display: flex;
    margin-bottom: 15px;
}

.operator-tab {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.operator-tab.active {
    color: #1cbc9a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.train-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}